* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Baloo Bhai 2", sans-serif;
}

header {
  background-color: #FFF8F3;
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left,bottom right;

}

.navigation h2 {
  font-size: 45px;
}

.orange {
  color: orange;
}

.navigation {
  width: 71%;
  max-width: 1920px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #7f5c44;
}

.btn {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: darkorange;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 47px 38px 0px 230px;
}

#banner .content {
  height: 365px;
  width: 585px;
}

#banner .content h3 {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
}

#banner .content h2 {
  color: #474747;
  font-weight: bold;
  font-size: 85px;
  margin-bottom: 20px;
}

#banner .content p {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

#banner .photo img{
  max-width: 584px;
  vertical-align: middle;
}

#about{
  padding-top: 130px;
  
}

#about .about-container{
  width: 71%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
  

}

#about .section-heading h2 {
  font-size: 45px;
  color: #474747;
  margin-bottom: 20px;
}

#about .section-heading p {
  color: #757575;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 20px;
}

#about .about-info{
  display: flex;
  justify-content: space-around;
  
}

#about .about-container .about-info .info-card p{
  color: #757575;
  line-height: 30px;
  font-size: 20px;

}

#about .about-container .about-info .info-card h4{
  color: #474747;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;

}

#does{
  padding-top: 130px; 
}

#does .work{
  width: 71%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 131px 156px;
}

#does .work h2{
  font-size: 45px;
  font-weight: bold;
  color: #181818;
}

#does .work p{
  font-size: 18px;
  color: #757575;
}

